<nav class="site-nav pv3 ph3 ph4-ns" role="navigation">
  <div class="nav-container flex-l justify-between items-center center mw8">
    {{/* Logo / Site Title */}}
    <a href="{{ .Site.Home.RelPermalink }}" class="site-logo f5 fw6 hover-gold no-underline white dib">
      YACHT LOGIC
    </a>

    {{/* Main Menu */}}
    {{ if .Site.Menus.main }}
      <ul class="main-menu list pl0 flex-l items-center ma0">
        {{ range .Site.Menus.main }}
        <li class="menu-item dib">
          <a class="menu-link f6 fw5 no-underline white-90 ph3 pv2 dib"
             href="{{ .URL }}"
             title="{{ .Name }}"
             {{ if eq $.RelPermalink .URL }}aria-current="page"{{ end }}>
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
</nav>
